@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 100px;
    text-align: center;
    font-weight: 100;
}

.tareas{
    width: 500px;
    background-color: white;
}

input{
    margin-top: 10px;
    width: 100%;
    outline-style: none;
    border: 0;
    padding: 10px 10px;
    padding-left: 30px;
    border-bottom: 1px solid black;
}


.tarea{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 30px;
    align-items: center;
    border-bottom: 1px solid black;
}

.tarea span{
    margin-left: 20px;
}

.disabled{
    display: none;
}

span{
    display: block;
}

.red{
    color: red;
}

.item-left{
    padding: 10px;
    font-size: 15px;
    color: rgb(137, 146, 155);
}

